################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SIMPRE_BDI/.vs/SIMPRE_BDI
